.container {
    max-width: 1920px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-image: url(../img/Sections\ background/section-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1012px;
    padding-top: 5px;
}

.header-bg {
    height: 115px;
    background: rgba(94, 93, 88, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-navigation {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center
}

.logo {
    display: block;
    position: relative;
}

.img-logo {
    position:relative;
    z-index:1;
}

.h-logo {
    position:absolute;
    top: 28%;
    left: 27%;
    z-index:2;
}

.logo-text {
    text-decoration: none;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    margin-left: 6px;
}

.change-color {
    font-weight: 700;
    color: #18CFAB;
}

.navbar{
    display: flex;
    align-items: center;
}

.header-menu,
.magnify {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    padding-bottom: 47px;
    margin-left: 21px;
}

.header-menu:hover,
.magnify:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.magnify {
    padding-bottom: 43px;

}
.header-menu:hover .icon {
    color: #18CFAB;
}

.header-content {
    width: 1160px;
    height: 897px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-title,
.main-title {
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.main-title {
    font-size: 78px;
    padding: 22px 0;
}

.second-title {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
    padding-bottom: 129px;
}

.header-buttons {
    width: 365px;
    display: flex;
    justify-content: space-between;
}

.header-btn,
.purchase-btn {
    display: block;
    width: 169px;
    height: 68px;
    text-align: center;
    line-height: 75px;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #18CFAB;
    border-radius: 8px;
    box-shadow: 0px 5px 0px #FFFFFF inset;
}

.header-btn:hover, 
.purchase-btn:hover {
    background-color: #00CBF6;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 377px;
    padding-top: 8px;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.option-bg {
    background-color: #1C2A33;;
}

.option-bg-green {
    background-color: #18CFAB;
}

.icon-green {
    padding-bottom: 48px;
}

.icon-white {
    padding-bottom: 58px;
}

.link-option {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 110px;
}

.link-option-green {
    color: #18CFAB;
}

.link-option-white {
    color: #FFFFFF;
}

.services {
    width: 1160px;
    height: 555px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.services-title {
    padding-top: 85px;
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
}

.services-title::before,
.work-title::before,
.news-title::before,
.people-title::before,
.gallery-title::before {
    content: "";
    display: block;
    border-bottom: 1px solid #18CFAB;
    width: 76px;
    position: absolute;
    top: 150px;
    left: 46%;
}

.services-title::after,
.work-title::after,
.news-title::after,
.people-title::after,
.gallery-title::after {
    content: "";
    display: block;
    border-bottom: 1px solid #18CFAB;
    width: 76px;
    position: absolute;
    top: 154px;
    left: 47.5%;
}

.services-container {
    display: flex;
    justify-content: space-between;
    padding-top: 101px;
}

.service {
    box-sizing: border-box;
    width: 193px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #F2F2F2;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service:hover {
    border: 1.5px solid #18CFAB;
}

.service.active {
    box-sizing: border-box;
    width: 193px;
    height: 72px;
    background: #18CFAB;
    border: 1px solid #18CFAB;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.service.active::after {
    content: "";
    position: absolute;
    bottom: -20px;
    border: 10px solid  transparent;
    border-top: 10px solid #18cfab;;
}

.descriptions-container {
    padding-top: 27px;
}

.descriptions.active {
    display: grid;
    grid-template-columns: 192px 1fr;
}

.picture-description{
    height: 139px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.web {
 background-image: url(../img/Our\ Services/Layer1.png);
}

.graphic {
    background-image: url(../img/Our\ Services/graphic-design7.jpg);
}

.support {
    background-image: url(../img/Our\ Services/wordpress5.jpg);
}

.app {
    background-image: url(../img/Our\ Services/web-design2.jpg);
}

.marketing {
    background-image: url(../img/Our\ Services/graphic-design2.jpg);
}

.seo {
    background-image: url(../img/Our\ Services/graphic-design12.jpg);
}

.text-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    padding-left: 15px;
}

.descriptions {
    display: none;
}

.purchase {
    width: 100%;
    height: 480px;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/Sections\ background/section-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchase-title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    padding-bottom: 13px;
}

.purchase-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    padding-bottom: 67px;
}

.work {
    width: 100%;
    background: #E9EDEF;
    padding-bottom: 99px;
}

.work-wrapper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.work-title,
.gallery-title {
    padding-top: 95px;
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
}

.work-container {
    padding-top: 97px;
    width: 582px;
    display: flex;
    justify-content: center;
}

.work-tab {
    box-sizing: border-box;
    height: 58px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    font-weight: 400;
    font-size: 14px;
    color: #717171;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 18px;
    padding-right: 17px;
    cursor: pointer;
}


.work-tab.active {
    border: 2px solid #18CFAB;
}

.work-galleries {
    padding-top: 71px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.galleries.active {
    display: block;
}

.gallery {
    width: 285px;
    height: 211px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gallery-hover {
    background: #E9EDEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 211px;
    opacity: 0;
    border-top: 2px solid #18CFAB;
}

.gallery-hover:hover {
    opacity: 1;
}

.gallery-text {
    padding-top: 30px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #18CFAB;
}

.gallery-text1 {
    padding-top: 10px;
    font-weight: 300;
    font-size: 13px;
    color: #8A8A8A;
}

.galleries {
    display: none;
}

.graphic1 {
    background-image: url(../img/graphic\ design/graphic-design1.jpg);
}

.graphic2 {
    background-image: url(../img/graphic\ design/graphic-design2.jpg);
}

.graphic3 {
    background-image: url(../img/graphic\ design/graphic-design3.jpg);
}

.graphic4 {
    background-image: url(../img/graphic\ design/graphic-design4.jpg);
}

.graphic5 {
    background-image: url(../img/graphic\ design/graphic-design5.jpg);
}

.graphic6 {
    background-image: url(../img/graphic\ design/graphic-design6.jpg);
}

.graphic7 {
    background-image: url(../img/graphic\ design/graphic-design7.jpg);
}

.graphic8 {
    background-image: url(../img/graphic\ design/graphic-design8.jpg);
}

.graphic9 {
    background-image: url(../img/graphic\ design/graphic-design9.jpg);
}

.graphic10 {
    background-image: url(../img/graphic\ design/graphic-design10.jpg);
}

.graphic11 {
    background-image: url(../img/graphic\ design/graphic-design11.jpg);
}

.graphic12 {
    background-image: url(../img/graphic\ design/graphic-design12.jpg);
}

.web1 {
    background-image: url(../img/web\ design/web-design1.jpg);
}

.web2 {
    background-image: url(../img/web\ design/web-design2.jpg);
}

.web3 {
    background-image: url(../img/web\ design/web-design3.jpg);
}

.web4 {
    background-image: url(../img/web\ design/web-design4.jpg);
}

.web5 {
    background-image: url(../img/web\ design/web-design5.jpg);
}

.web6 {
    background-image: url(../img/web\ design/web-design6.jpg);
}

.web7 {
    background-image: url(../img/web\ design/web-design7.jpg);
}

.landing1 {
    background-image: url(../img/landing\ page/landing-page1.jpg);
}

.landing2 {
    background-image: url(../img/landing\ page/landing-page2.jpg);
}

.landing3 {
    background-image: url(../img/landing\ page/landing-page3.jpg);
}

.landing4 {
    background-image: url(../img/landing\ page/landing-page4.jpg);
}

.landing5 {
    background-image: url(../img/landing\ page/landing-page5.jpg);
}

.landing6 {
    background-image: url(../img/landing\ page/landing-page6.jpg);
}

.landing7 {
    background-image: url(../img/landing\ page/landing-page7.jpg);
}

.wordpress1 {
    background-image: url(../img/wordpress/wordpress1.jpg);
}

.wordpress2 {
    background-image: url(../img/wordpress/wordpress2.jpg);
}

.wordpress3 {
    background-image: url(../img/wordpress/wordpress3.jpg);
}

.wordpress4 {
    background-image: url(../img/wordpress/wordpress4.jpg);
}

.wordpress5 {
    background-image: url(../img/wordpress/wordpress5.jpg);
}

.wordpress6 {
    background-image: url(../img/wordpress/wordpress6.jpg);
}

.wordpress7 {
    background-image: url(../img/wordpress/wordpress7.jpg);
}

.wordpress8 {
    background-image: url(../img/wordpress/wordpress8.jpg);
}

.wordpress9 {
    background-image: url(../img/wordpress/wordpress9.jpg);
}

.wordpress10 {
    background-image: url(../img/wordpress/wordpress10.jpg);
}

.btn-work {
    margin-top: 70px;
}

.btn-load.hide {
    display: none;
}

.btn-load {
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.8s ease;
    cursor: pointer;
	overflow: hidden;
	position: relative;
}

.btn-text{
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
}

.btn-text::before {
    content: "+";
    padding-right: 15px;
    font-size: 30px;
    font-weight: 700;
    vertical-align: sub;
}

.btn-waves.active{
    position: absolute;
	width: 168px;
	height: 168px;
	background-color: #00CBF6;;
	top: 0;
	left: 0;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	transition: all 0.8s ease 0s;
}

.btn-waves.active::after,
.btn-waves.active::before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;
	transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}

.btn-waves.active::before{
	background-color:#18CFAB;
	border-radius: 48%;
	animation: waves 5s infinite linear;
}
.btn-waves.active::after{
	background-color: rgba(24, 207, 171, 0.5);
	border-radius: 44%;
	animation: waves 10s infinite linear;
}

@keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}

.news {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.news-title {
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
    padding-top: 82px;
}

.news-galleries {
    padding-top: 101px;
    padding-bottom: 130px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px 35px;
}

.news-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 263px;
    height: 280px;
    text-decoration: none;
    position: relative;
}

.news-img {
    display: block;
    width: 263px;
    height: 208px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.news-box::before {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    content: "12";
    width: 70px;
    height: 68px;
    background-color: #203E38;;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding-top: 16px;
    box-sizing: border-box;
    position: absolute;
    left: 193px;
    transition: 0.3s;
}

.news-box::after {
    content: "Feb";
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: 37px;
    left: 212px;
}

.news-box:hover::before {
    background-color: #18CFAB;
}

.news-box:hover .news-text {
    color: #18CFAB;
    padding-left: 25px;
}

.icon1 {
    background-image: url(../img/breaking\ news/Layer47.png);
}

.icon2 {
    background-image: url(../img/breaking\ news/Layer50.png);
}

.icon3 {
    background-image: url(../img/breaking\ news/Layer51.png);
}

.icon4 {
    background-image: url(../img/breaking\ news/Layer52.png);
}

.icon5 {
    background-image: url(../img/breaking\ news/Layer53.png);
}

.icon6 {
    background-image: url(../img/breaking\ news/Layer54.png);
}

.icon7 {
    background-image: url(../img/breaking\ news/Layer55.png);
}

.icon8 {
    background-image: url(../img/breaking\ news/Layer56.png);
}

.news-text {
    font-weight: 700;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 15px;
    color: #717171;
    transition: 0.3s;
}

.news-text2 {
    font-weight: 300;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 15px;
    color: #777777;
}

.line::after {
    content: "|";
    font-weight: 300;
    font-size: 14px;
    color: #777777;
    padding-left: 20px;
    padding-right: 20px;

}

.people {
    width: 100%;
    height: 853px;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/Sections\ background/section-3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.people-wrapper,
.images-wrapper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.people-title {
    padding-top: 95px;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}

.quotes {
    padding-top: 99px;
}

.people-descriptions {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.people-descriptions.active{
    display: flex;
}

.people-text {
    padding-top: 36px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}

.people-names {
    padding-top: 37px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-transform: uppercase;
}

.people-position {
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color:#BBBBBB;
    padding-bottom: 38px;
}

.people-photo-big {
    width: 143px;
    height: 143px;
    border-radius: 50%;
    border: 10px solid #1fdab546;
    overflow: hidden;
}

.photo-big,
.photo-small {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.peoples-slider {
    padding-top: 51px;
    width: 485px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo-slider {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #1fdab546;
    overflow: hidden;
}

.photo-slider.sl-active {
    transition: transform 0.5s ease-in-out;
    transform: translate3d(0px, -15px, 0px);
}

.slider-left,
.slider-right {
    font-size: 16px;
    color: #BBBBBB;
    border: 1px solid #BBBBBB;
    cursor: pointer;
}

.slider-left {
    padding: 10px 15px 10px 5px;
}

.slider-right {
    padding: 10px 5px 10px 15px;
}

.slider-left:hover,
.slider-right:hover {
    color: #FFFFFF;
    background-color: #18CFAB;
    border-color: #18CFAB;
}

.gallery-images {
    background-color: rgba(0, 0, 0, 0.0001);
    padding-bottom: 80px;
}

.images-grid {
    width: 1160px;
    padding-top: 115px;
}

.image-grid-size {
    display: none;
}

.img-bg {
    width: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.image-1 {
    width: 378px;
    height: 263px;
    background-image: url(../img/Gallery\ of\ best\ images/1.png);
}

.image-2 {
    width: 378px;
    height: 380px;
    background-image: url(../img/Gallery\ of\ best\ images/2.png);
}

.image-3 {
    width: 187px;
    height: 169px;
    background-image: url(../img/Gallery\ of\ best\ images/3.png);
}

.image-4 {
    width: 188px;
    height: 169px;
    background-image: url(../img/Gallery\ of\ best\ images/4.png);
}

.image-5 {
    width: 124px;
    height: 92px;
    margin-top: 2px;
    background-image: url(../img/Gallery\ of\ best\ images/5.png);
}

.image-6 {
    width: 124px;
    height: 92px;
    margin-top: 2px;
    background-image: url(../img/Gallery\ of\ best\ images/6.png);
}

.image-7 {
    width: 124px;
    height: 92px;
    margin-top: 2px;
    background-image: url(../img/Gallery\ of\ best\ images/7.png);
}

.image-8 {
    width: 124px;
    height: 92px;
    margin-top: 2px;
    background-image: url(../img/Gallery\ of\ best\ images/8.png);
}

.image-9 {
    width: 124px;
    height: 92px;
    margin-top: 2px;
    background-image: url(../img/Gallery\ of\ best\ images/9.png);
}

.image-10 {
    width: 124px;
    height: 92px;
    margin-top: 2px;
    background-image: url(../img/Gallery\ of\ best\ images/10.png);
}

.image-11 {
    width: 124px;
    height: 92px;
    margin-top: 2px;
    background-image: url(../img/Gallery\ of\ best\ images/11.png);
}

.image-12 {
    width: 124px;
    height: 92px;
    margin-top: 2px;
    background-image: url(../img/Gallery\ of\ best\ images/12.png);
}

.image-13 {
    width: 124px;
    height: 92px;
    margin-top: 2px;
    background-image: url(../img/Gallery\ of\ best\ images/13.png);
}

.image-14 {
    width: 378px;
    height: 263px;
    margin-top: 5px;
    background-image: url(../img/Gallery\ of\ best\ images/14.png);
}

.image-15 {
    width: 378px;
    height: 247px;
    margin-top: 5px;
    background-image: url(../img/Gallery\ of\ best\ images/15.png);
}

.image-16 {
    width: 378px;
    height: 290px;
    margin-top: 5px;
    background-image: url(../img/Gallery\ of\ best\ images/16.png);
}

.image-17 {
    width: 378px;
    height: 254px;
    margin-top: 5px;
    background-image: url(../img/Gallery\ of\ best\ images/17.png);
}

.image-18 {
    width: 380px;
    height: 373px;
    margin-top: 5px;
    background-image: url(../img/Gallery\ of\ best\ images/18.png);
}

.btn-images {
    margin-top: 52px;
}

.image-hover {
    background: rgba(0, 0, 0, 0.64);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
}

.image-hover:hover {
    opacity: 1;
}

.circle,
.arrow {
    width: 27px;
    height: 25px;
    margin-left: 20px;
    background-color: #14B9D5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 121px;
    background-color: #22353F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.footer-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.footer-text-theham {
    color: #18CFAB;
}